/* header */
header {
    background:aqua;
    width:calc(100% - 60px); /*full*/
    height:100px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
header h1 {width:209px;}
header h1 a {}
header h1 a img {width:100%;}
header .right {display:flex; align-items:center;}
header .right > * {margin-left:20px;}
header .right .lang {margin-left:0;}
header .right #searchFrm {
    background:#000; border-radius:15px; width:328px; 
}
header .right #searchFrm fieldset { 
    height:36px; padding:0 15px;
    display:flex; justify-content:space-between; align-items:center;
}
header .right #searchFrm fieldset #searchTxt {background:none; color:#fff;}
header .right #searchFrm fieldset #searchTxt::placeholder {color:#fff;}
header .right #searchFrm fieldset #searchBtn {
    background:none; width:24px; height:24px;
}
header .right #searchFrm fieldset #searchBtn img {width:100%;}
header .right #login, header .right #cart, header .right #nav {width:36px; height:36px;} 
header .right #login img, header .right #cart img, header .right #nav img {width:100%;} 
header .right #login {}
header .right #login img {}
header .right #cart {}
header .right #cart img {}
header .right #nav {}
header .right #nav img {}