/* common.css 모든 웹페이지 공통 css == common */
/* common.css == header, footer 공통영역 Design */
/* Firefox */
html {scrollbar-width: 10px;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #2559DF;}
/* header */
header {
    width:calc(100% - 60px); /*full*/ height:100px; margin:0 auto;
    display:flex; justify-content: space-between; align-items:center;
}
header h1 {width:209px;}
header h1 a {}
header h1 a img {width:100%;}
header .right {display:flex; align-items:center;}
header .right > * {margin-left:20px;}
header .right .lang {margin-left:0;}
header .right #searchFrm {background:#000; border-radius:15px; width:328px; }
header .right #searchFrm fieldset { 
    height:36px; padding:0 15px;
    display:flex; justify-content:space-between; align-items:center;
}
header .right #searchFrm fieldset #searchTxt {background:none; color:#fff;}
header .right #searchFrm fieldset #searchTxt::placeholder {color:#fff;}
header .right #searchFrm fieldset #searchBtn {background:none; width:24px; height:24px;}
header .right #searchFrm fieldset #searchBtn img {width:100%;}
header .right #login, header .right #cart, header .right #nav {width:36px; height:36px;} 
header .right #login img, header .right #cart img, header .right #nav img {width:100%;} 
header .right #login {}
header .right #login img {}
header .right #cart {}
header .right #cart img {}
header .right #nav {}
header .right #nav img {}
/* open-nav */
header #open_nav {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; height:100vh; background:#f1f1f1;
    overflow-y:auto;
    /* 웹브라우저 y축 기준으로 내용이 넘칠 경우 스크롤을 표시하고 
        넘치지 않다면 스크롤을 숨긴다. */
}
header #open_nav #nav_close {
    position:absolute; right:90px; top:90px; 
    width:40px; height:40px; z-index:999;
}
header #open_nav #nav_close img {width:100%;}
/* swiper-slide nav-adver */
header #open_nav #nav_adver {
    max-width:800px; margin:20px auto; text-align: center;
}
header #open_nav #nav_adver .swiper-slide a {line-height:24px;}
header #open_nav #nav_adver .swiper-button-prev,
header #open_nav #nav_adver .swiper-button-next {top:20px; width:24px; height:24px;}
header #open_nav #nav_adver .swiper-button-prev {
    background:url(../images/adver_prev.png);
}
header #open_nav #nav_adver .swiper-button-next {
    background:url(../images/adver_next.png);
}
header #open_nav #nav_adver .swiper-button-prev::after,
header #open_nav #nav_adver .swiper-button-next::after {display:none;}
/* open-nav nav */
header #open_nav nav {
    display:flex; flex-flow:column nowrap;
    text-align:center; padding-top:25px;
}
header #open_nav nav a {
    font-size:3.157rem; letter-spacing: -0.02em;
    line-height:110px; font-weight:700;
    position:relative;
}
header #open_nav nav a:hover {color: #2559DF;}
header #open_nav nav a:hover::after {
    transform:translateX(-50%) scaleX(1);
}
header #open_nav nav a::after {
    content:''; display:block;
    width:80%; height:1px;
    border-bottom:2px dotted #2559DF;
    position:absolute; bottom:-3px; left:50%;
    transform:translateX(-50%) scaleX(0);
    transition:all 0.5s;
}